@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://unpkg.com/boxicons@latest/css/boxicons.min.css');
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200;1,800&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /*========== Colors ==========*/
    --primary-color:#043263;
    --secondary-color:#239EFE;
    --text-color: #000000;
    --bg-color:#fff;
    --modal-color:#F4F7FF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/* ============================== */

    /* BASE  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .2s ease;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
} 

h1,h2,h3,h4{
    color: var(--primary-color);
}

b{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
hr  {
    margin: 2rem auto;
    border: none;
    border-bottom: 1px solid black;
    width: 25%;
    display: flex;  
}
input {
    line-height: normal;
    
}
  
textarea {
    overflow: auto;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}
textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

/* ============================== */

    /* REUSABLE  */
.section{
    padding: 50px 5% 15px;
}
.container{
    background-color: var(--modal-color);
    padding: 2rem;
    border-radius: 5px;
}
.icons_{
    font-size: 1.3rem;
    color: var(--secondary-color);
    transition: all .4s ease ;
}
.title_{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--primary-color);
    padding: 2rem 0 1rem;
}
.d-none{
    display: none;
}


/* ============================== */
    /* MODAL  */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* ============================== */


    /* NAV  */
footer {
    background-color: var(--modal-color);
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-around;
}
.foot_{
    font-size: 8px;
    font-weight: var(--font-medium);
    color: var(--primary-color);
    padding: 1rem;
}
.footer_nav {
    font-size: var(--small-font-size);
}

.footer_icons{
    display: flex;
    gap: 2px;
}
.footer_ .icons_{
    font-size: var(--h2-font-size);
}
.nav-none{
    display: block;
}
.foot-nav{
    display: none;
}
header{
    position: fixed;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: var(--z-fixed);
}

.logo img{
    width: 3rem;
    height: 3rem;
    
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: 10px 25px;
    border-radius: 5px;
    transition: .4s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    background: var(--bg-color);
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
}
.nav-bar ul li a.active{
    background: var(--bg-color);
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
}
header.sticky{
    background: var(--bg-color);
    padding: 10px 18%;
    box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .navbar_ a{
    color: var(--text-color);
    text-shadow: none;
}
.sticky .logo img {
    display: flex;
    width: 3rem;
    height: 3rem;
    
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 1100px){
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: var(--z-modal);
    }   
    .hamburger .icons_{
        font-size: var(--h1-font-size);
        color: var(--text-color);
    }
    
    .nav-bar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: var(--bg-color);
        box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    
    
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.7s;
        opacity: 0;
    }
    .nav-bar ul li a{
       margin-bottom: 1rem;
    }
    
}
/* ============================== */

    /* CONTENTS  */
/* HOME */
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
@media(min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
.home_{
    position: relative;
    width: 100%;
    height: 100vh;
   /*  background: url('../img/aaron-burden-cEukkv42O40-unsplash.jpg'); */
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home_text h1{
    font-size: var(--bigger-font-size);
    line-height: 1.2;
    color: var(--bg-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 3px #000000;
}

.home_text p{
    color: var(--modal-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
    margin-bottom: 50px;
    text-shadow: 0px 1px 3px #000000;
}

.home_btn{
    display: inline-block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    padding: 15px 30px;
    background: var(--modal-color);
    color: var(--primary-color);
    border-radius: 4px;
    transition: ease .40s;
}

.home_btn:hover{
    background: var(--bg-color);
    transform: scale(1.1);
}
/* ============================================= */

/* PLAN */
.plan_text_ h2{
    font-size: var(--h2-font-size);
    line-height: 1.1;
}

.plan_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 2rem;
    gap: .5rem;
}

.plan_container_box{
    background: var(--modal-color);
    border: 1px solid #f0eded;
    padding: 20px 5px;
    border-radius: 4px;
    transition: all .7s ease 0s;
    cursor: pointer;
}
.plan_container_img .icons_{
    font-size: 2.2rem;
}
.plan_container_box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ============================================= */

/* EXPERIENCE */
.exp_container{
    background: var(--modal-color);
    padding: 1.5rem;
    border-radius: 5px;
}
.exp_container p{
    text-align: center;
    font-size: var(--normal-font-size);
}
.what_to_do{
    margin-bottom: var(--mb-3);
}

.exp_category{
    display: flex;
    justify-content: space-between;
    margin: var(--mb-1) 0;
}
.exp_category a{
    font-size: var(--small-font-size);
}

.exp_grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.exp_img_box img{
    width: 400px;
    height: 190px;
    border-radius: .5rem;
    transition: all .4s ease 0s;
}
.exp_img_box img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.exp_icons{
    display: flex;
    align-items: center;
}
.view_count{
    display: flex;
    gap:2px;
    align-items: center;
    margin-left: auto;
}
.view_count p{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
}
.view_count .icons_{
    font-size: var(--normal-font-size);
}
.exp_links .icons_:hover{
    transform: scale(1.3);
}
.exp_links .icons_{
    font-size: var(--normal-font-size);
}
.views_{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    fill: var(--secondary-color);
}
.views_ .eye{
    width: 100%;
}
/* ============================================= */

/* QUICKVIEW */
.quick_view .form{
    padding:1rem;
    background-color: var(--modal-color);
    border-radius: 5px;
 }
 
.img_container{
    width: auto;
    margin-bottom: var(--mb-1);
}
.img_container .main_image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.img_container .main_image img{
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_container .sub_image {
    display: flex;
    gap: 5px;
    margin-top: .5rem;
    transition: ease .7s;
}
.img_container .sub_image img{
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.quick_content .name{
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
    margin-bottom: var(--mb-1);
}
.quick_content .details{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    margin-top: 1rem;
}

.quick_content .details b{
    font-size: var(--h2-font-size);
    color: var(--primary-color);
    margin-top: 1rem;
}

.amenities h3  {
    text-align: center;
    font-size: var(--h3-font-size);
    margin: 3rem 0 1rem;
}
.amenities hr  {
    width: 50%;
}
.amenities ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
}
.amenities li{
    font-size: var(--small-font-size);
    margin-top: 5px;
    text-decoration: dotted;
    list-style: disc;
}

.row .exp_links{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.row .exp_links .icons_{
    font-size: var(--h1-font-size);
}
.contact_ .contact_grid {
    display: flex;
    grid-template-columns: repeat(1,1fr);
    flex-wrap: wrap;
    justify-content: center;
}

.joker{
    display: none;
}  

.contact_details{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.contact_details .icons_{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.contact_details p{
    font-size: var(--normal-font-size);
}

.underline {
    border-bottom: solid 2px var(--text-color);
    margin: -0.512em auto;
    width: 80px;
}

.email {
    float: right;
    width: 45%;
}

 input[type='text'],[type='number'], [type='email'], select, textarea {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--text-color);
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

 input[type='text']:focus, [type='email']:focus,[type='number']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.fullname {
    float: left;
    width: 45%;
}

.telephone,
.subject {
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder { 
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}
.visit_btn,
#form_button {
    background: var(--primary-color);
    border: solid 2px var(--text-color);
    border-radius: 4px;
    color: var(--bg-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.visit_btn:hover,
#form_button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    border: 0;
}
.form .exp_container{
    padding: 0;
}

.review_container{
    background-color: var(--bg-color);
}

.review_contents{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.review_header{
    display: flex;
    gap: 1rem;
}
.review_header img{
    width: 50px;
    border-radius: 50%;
}
.review_header-det{
    display: flex;
    flex-direction: column;
}
.review_header-det p{
    font-size: 10px;
}
.review_img{
    display: flex;
    gap: .5rem;
}
.review_img img{
    width: 33%;
    height: 100px;
}

.add-review_container{
    background-color: var(--bg-color);
    width: 350px;
    border-radius: 5px;
}
.review_body .rates{
    color: gold;
}
.rev-btn{
    padding: 8px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--bg-color);
    border: none;
    display: flex;
    margin: auto;
}
/* ============================================= */

/* SIMILAR PLACES */

.similar_places .category{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.similar_places .exp_img_box img {
    width: 190px;
    height: 110px;
}
/* ============================================= */

/* TESTIMONIAL */
.testimonial_grid {
    display: flex;
    margin-top: var(--mb-3);
    gap: 3.5rem;
    flex-direction: column;
}
.testimonials_content{
    position: relative;
    border: 2px solid var(--bg-color);
    border-radius: 1rem;
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
    padding: 1rem;
    width: 33%;
}
.testimonials_content img{
    position: absolute;
    top: -40px;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
}
.testimonials_content .icons_{
    font-size: 2rem;
}
.testimonial_img{
    display: flex;
    justify-content: space-around;
}
.testimonials_content h3{
    text-align: center;
}

.testimonials_container p{
    font-size: var(--smaller-font-size);
    text-align: center;
}

.testimonials_btn{
    padding: .8rem;
    background-color: var(--secondary-color);
    width: fit-content;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    border: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.testimonials_btn:hover{
  transform: scale(1.1);
}
.testimonials_btn .icons_{
    font-size: var(--small-font-size);
    color: var(--bg-color);
    margin: auto;
}

.testimonials_content .ratings{
    color: gold;
    font-size: var(--normal-font-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.testimonials_footer{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonials_footer p{
    font-size: var(--normal-font-size);
    margin:var(--mb-1) ;
}
/* ============================================= */

/* INSTAGRAM */

.instagram_container h1{
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 2rem;
}
.instagram_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    justify-items: center;
}

.instagram_content img{
    width: 100%;
    height: 170px;
    border-radius: .5rem; 
    box-shadow: 0px 0px 36px 15px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: 0px 0px 36px 15px rgba(255,255,255,0.75) inset;
    -moz-box-shadow: 0px 0px 36px 15px rgba(255,255,255,0.75) inset;
}

/* ============================================= */

/* TRAVEL INFORMATION */
.travel_content h3{
    text-align: center;
}
.travel_content p{
    font-size: var(--normal-font-size);
    text-align: center;
}
.travel_grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.travel_grid li{
    font-size: var(--normal-font-size);
    text-decoration: dotted;
    list-style: disc;
    margin-left: 1rem;
}

.travel_img img{
    width: 100%;
    border-radius: 5px;
}
.travel_grid p{
    text-align: left;
}
table{
    display: none;
    padding: 1rem;
    width: 100%;
    margin: 1rem;
}
table th,table td{
    padding: 1rem;
}
table th{
    background-color: var(--bg-color);
    text-align: center;
}
table td{
    background-color: var(--primary-color);
    text-align: center;
    color: var(--bg-color);
}
/* ============================================= */

/* SEE MORE */
.see-more .container{
    padding: 0;
}
.seemore_contents{ 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    margin: 1rem;
    gap: 2rem;
}

.bg_container{
    background-color: transparent;
    border-radius: 5px;
    padding: 2rem 1rem 4rem 1rem;
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
}
.bg_container .exp_place{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1);
}
.more_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.more_grid .exp_img_box img{
    width: auto;
    height: 200px;
    border-radius: .5rem;
    transition: all .4s ease 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right_side .details{
    font-size: var(--normal-font-size);
}
.right_side .details b{
    font-size: var(--h3-font-size);
    color: var(--primary-color)
}
.right_side p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.options form{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    height: 3rem;
    padding: 0 1rem;
    margin: 0 ;
}
.options select{
    font-size: var(--smaller-font-size);
    border-bottom: solid 1px var(--text-color);
}


#seemore_sort{
    height: 100%;
    width: 35%;
    padding: .5rem 0;
}
.tag_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}
.tag_content {
    display: flex;
    background: var(--bg-color);
    padding: 10px;
    font-size: 12px;
    font-weight: var(--font-semi-bold);
    border-radius: 5px;
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
    gap: 0.5rem;
}

/* ============================================= */

/* EVENTS */
.events_contents{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.list_content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background: var(--modal-color);
    box-shadow: -1px 6px 40px 0px rgba(0,0,0,0.10);
    border-radius: 5px;

}
.list_content img{
    width: 100%;
    max-height: 250px ;
    border-radius: 5px;
}
.events_list p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

/* ============================================= */

/* SEARCH PAGE */
#search_form{
    padding: 0;
    display: flex;
    gap: 5px;
}
#search_form input{
    line-height: normal;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    background-color: #eee; 
}
#search_form input:focus{
    background-color: transparent;
}
#search_form input::placeholder {
    font-size: 1rem;
    padding: 5px;
}

.search_bar .icons_{
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--modal-color);
}
/* ========================================= */

/*   MEDIA QUERIES */
@media screen and (max-width: 480px) {   
.underline {
    width: 68px;
}

#form_button {
    padding: 15px 25px;
}
}
  
@media screen and (max-width: 420px) {

.underline {
    width: 53px;
}

input[type='text'],[type='number'], [type='email'], select, textarea {
    font-size: 0.875em;
}
}

/* For small devices */
/* GALAXY FOLD */

@media screen and (max-width: 350px) {
    html{
        width: 146vw;
        overflow-x: hidden;
    }
    .section {
        padding: 50px 3% 15px;
    }
    header.sticky {
        padding: 10px 12% ;
    }
    .sticky .logo img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .home_ {
        width: 150vw;
    }
    .home_text h1 {
        font-size: var(--big-font-size);
    }
    .home_text p {
        font-size: var(--smaller-font-size);
    }
    .plan_grid {
        align-items: normal;
    }
   /*  .exp_img_box img {
        height: 75px;
    } */
    .instagram_content img {
        height: 150px;
    }
    .foot_ {
        font-size: 8px;
    }
    .bg_container {
        padding: 2rem 1rem 4rem 1rem;
    }
    .quick_view .form {
        padding: 1rem;
    }
    .img_container .main_image img {
        width: 100%;
        height: 200px;
    }
    .img_container .sub_image {
        gap: 0.5rem;
    }
    .quick_content .name {
        font-size: var(--h3-font-size);
    }
    .quick_content .details,
    .exp_category,
    .quick_content .details b {
        font-size: var(--normal-font-size);
    }
    .amenities ul {
        gap: 1rem;
    }
    .travel_grid li,
    .amenities li {
        margin-left: 1.5rem;
    }
    .contact_details p {
        font-size: var(--small-font-size);
    }
    .events_contents{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 414px) {
    .similar_places .exp_img_box img {
        width: 150px;
        height: 110px;
    }
    .exp_img_box img {
        width: 320px;
    }
}
/* For medium devices */
/* 582 X 658 */
@media screen and (min-width: 568px) {
    header {
        padding: 30px 5% 30px 10%;
    }
    header.sticky {
        padding: 10px 10% 10px 15%;
    }
    .instagram_content img {
        height: 220px;
    }
    .amenities ul {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
    .amenities li {
        margin-left: 1.5rem;
    }
    #seemore_sort{
        width: 25%;
    }
    .similar_places .category {
        justify-content: space-around;
    }
    .similar_places .exp_img_box img {
        width: 250px;
        height: 170px;
    }
    .exp_img_box img {
        width: 470px;
    }
}

/* 780 x 658 */
@media screen and (min-width: 768px) {
    
    .events_contents{
        grid-template-columns: repeat(2,1fr);
    }
    .plan_grid {
        grid-template-columns: repeat(6, 1fr);
        align-items: normal;
    }
    .exp_img_box img {
        height: 130px;
        width: 250px;
    }
    .exp_grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    
    .similar_places .category {
        display: block;
    }
    .testimonial_grid {
        flex-direction: row;
        gap: 1rem
    }
    .instagram_grid {
        grid-template-columns: repeat(3,1fr);
    }
    #seemore_sort{
        width: 20%;
    }
    .foot_ {
        font-size: 10px;
    }
} 
/* For large devices */
/* 1058 X 658 */
@media screen and (min-width: 1024px) {
    .see-more .container{
        padding: 0 ;
    }
    .navbar_ a {
        display: block;
        padding: 15px;
    }
    .footer_icons .nav-none{
        font-size: var(--h2-font-size);
        margin-right: 1.5rem;
    }   
    .home_text h1 {
        font-size: var(--big-font-size);
    }
    .home_text p {
        font-size: var(--small-font-size);
    }
    .exp_grid {
        flex-direction: row;
    }
    .exp_img_box img {
        height: 140px;
    }
    .instagram_grid {
        grid-template-columns: repeat(4,1fr);
    }
    .more_grid {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
    }
    .bg_container {
        padding: 2rem 1rem 4rem;
    }
    .more_grid .exp_img_box img {
        width: 350px;
        height: 300px;
    }
    .exp_links .icons_ {
        font-size: var(--h3-font-size);
    }
    .quick_view .form {
        padding: 2rem 4rem;
        background-color: var(--modal-color);
        border-radius: 5px;
    }
    .img_container .sub_image img {
        height: 90px;
    }
    .contact_ .contact_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact_content form {
        padding: 0;
        margin:  0;
    }
    .contact_details {
        text-align: left;
        margin-bottom: var(--mb-2);
    }
    .contact_details hr {
    margin: 2rem 0;
    }
    #seemore_sort{
        width: 15%;
    }
    .events_contents{
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (min-width: 1400px) {
    .section{
        padding: 50px 10% 15px;
    }
    .navbar_ a {
        padding: 15px 30px;
    }
    .exp_img_box img {
        height: 170px;
    }
    .instagram_content img {
        height: 350px;
    }
    .quick_view .form {
        padding: 2rem 7rem;
        background-color: var(--modal-color);
        border-radius: 5px;
    }
    .img_container .sub_image img {
        height: 110px;
    }
    .amenities ul {
        grid-template-columns: repeat(5,1fr);
    }
    .contact_ .contact_grid {
        grid-template-columns: repeat(2,1fr);
        padding: 3rem 1rem;
    }
    .travel_grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #seemore_sort{
        width: 12%;
    }
    .more_grid .exp_img_box img {
        width: 600px;
    }
} 
@media screen and (min-width: 1920px) {
    
    .more_grid .exp_img_box img {
        width: 700px;
    }
} 

